@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Aurizona, 1 casa 3<br />
    Campo Grande, RJ 23095-010<br />
    <abbr title="Telefone">T:</abbr>
    (21)99738-3308
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Rafaelmattos.rj@gmail.com">Rafaelmattos.rj@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Rafaelmattos.rj@gmail.com">Rafaelmattos.rj@gmail.com</a>
</address>